@{
    ViewData["Title"] = "Authen";
}
<div class="row p-4" style="row-gap:20px">
    <div class="col-xl-6">
        <div class="card shadow">
            <div class="card-header" style="background-color:#0F4C75;color:#FFFFFF">
                <div class="row d-flex justify-content-between">
                    <span class="card-title pt-2">
                        <i class="fas fa-user"></i> Users
                    </span>
                    <button id="btnAdd" type="button" class="btn btn-primary" style="background-color:green;height:40px">
                        <i class="fas fa-plus"></i> Add Users
                    </button>
                </div>
            </div>
            <div class="card-body">
                <table id="table_user" class="table table-sm table-hover table-striped text-center w-100">
                    <thead class="text-center">
                        <tr>
                            <th>EMP ID</th>
                            <th>Name</th>
                            <th>Department</th>
                            <th>Level</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card shadow">
            <div class="card-header" style="background-color:#0F4C75;color:#FFFFFF">
                <span class="card-title">
                    <i class="fas fa-user-shield"></i> Admins
                </span>
            </div>
            <div class="card-body">
                <table id="table_super_admin" class="table table-sm table-hover table-striped text-center w-100">
                    <thead>
                        <tr>
                            <th>EMP ID</th>
                            <th>Name</th>
                            <th>Department</th>
                            <th>Level</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-header" style="background-color:#0F4C75;color:#FFFFFF">
                <span class="card-title">
                    <i class="fas fa-user-shield"></i> Admin Operation
                </span>
            </div>
            <div class="card-body">
                <table id="table_admin_operation" class="table table-sm table-hover table-striped text-center w-100">
                    <thead>
                        <tr>
                            <th>EMP ID</th>
                            <th>Name</th>
                            <th>Department</th>
                            <th>Level</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-header" style="background-color:#0F4C75;color:#FFFFFF">
                <span class="card-title">
                    <i class="fas fa-user-shield"></i> Admin Leave
                </span>
            </div>
            <div class="card-body">
                <table id="table_admin_leave" class="table table-sm table-hover table-striped text-center w-100">
                    <thead>
                        <tr>
                            <th>EMP ID</th>
                            <th>Name</th>
                            <th>Department</th>
                            <th>Level</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-header" style="background-color:#0F4C75;color:#FFFFFF">
                <span class="card-title">
                    <i class="fas fa-user-injured"></i> Sales
                </span>
            </div>
            <div class="card-body">
                <table id="table_sale" class="table table-sm table-hover table-striped text-center w-100">
                    <thead>
                        <tr>
                            <th>EMP ID</th>
                            <th>Name</th>
                            <th>Department</th>
                            <th>Level</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-header" style="background-color:#0F4C75;color:#FFFFFF">
                <span class="card-title">
                    <i class="fas fa-user-tie"></i> Manager
                </span>
            </div>
            <div class="card-body">
                <table id="table_manager" class="table table-sm table-hover table-striped text-center w-100">
                    <thead>
                        <tr>
                            <th>EMP ID</th>
                            <th>Name</th>
                            <th>Department</th>
                            <th>Level</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>    
</div>

<div class="modal fade" id="modal_user" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modal_title" class="modal-title"><b>Create User</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="user_name">User Name</label>
                        <select id="user_name" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label for="department">Department</label>
                        <input id="department" type="text" class="form-control" placeholder="Department" disabled />
                    </div>
                    <div class="form-group">
                        <label for="level">Level</label>
                        <input id="level" type="number" min="1" max="3" class="form-control" placeholder="Level" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button id="btn_add" type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalAuthen" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#0F4C75;color:#FFFFFF">
                <h5 class="modal-title">
                    <i class="fas fa-user-edit"></i> Edit Role
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:white">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="EmpID">EMP ID</label>
                        <input id="EmpID" type="text" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label for="UserName">User Name</label>
                        <input id="UserName" type="text" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label for="Department">Department</label>
                        <input id="Department" type="text" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label for="Level">Level</label>
                                <input id="Level" type="number" min="1" max="3" class="form-control" placeholder="Level" />
                            </div>
                            <div class="col-4">
                                <label for="btnUpdateLevel">Level</label>
                                <button id="btnUpdateLevel" type="button" class="btn elevation-1" style="background-color:#0F4C75;color:#FFFFFF">
                                    <i class="fas fa-recycle"></i> Update Level
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="col-12">
                    <button id="btnToSuperAdmin" type="button" class="btn btn-primary p-1" style="color:#FFFFFF">
                        <i class="fas fa-user-shield"></i> To Super Admin
                    </button>
                    <button id="btnToAdminOperation" type="button" class="btn btn-primary p-1" style="color:#FFFFFF">
                        <i class="fas fa-user-shield"></i> To Admin Operation
                    </button>
                    <button id="btnToAdminLeave" type="button" class="btn  btn-primary p-1" style="color:#FFFFFF">
                        <i class="fas fa-user-shield"></i> To Admin Leave
                    </button>
                    <button id="btnToSale" type="button" class="btn btn-warning p-1" style="color:#FFFFFF">
                        <i class="fas fa-user-injured"></i> To Sale
                    </button>
                    <button id="btnToManager" type="button" class="btn btn-success p-1" style="color:#FFFFFF">
                        <i class="fas fa-user-tie"></i> To Manager
                    </button>
                    <button id="btnToUser" type="button" class="btn p-1" style="background-color:#0F4C75;color:#FFFFFF">
                        <i class="fas fa-user"></i> To User
                    </button>
                    <button type="button" class="btn btn-secondary p-1" data-dismiss="modal">
                        <i class="fas fa-times"></i> Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        var table_user;
        var table_super_admin;
        var table_admin_operation;
        var table_admin_leave;
        var table_sale;
        var table_manager;
        var users = [];
        var engineers = [];

        var toUser = false;
        var toSuperAdmin = false;
        var toSale = false;
        var toManager = false;
        var toAdminOperation = false;
        var toAdminLeave = false;

        $(document).ready(async function () {
            await GetAuthenUsers();
            await GetAuthenSuperAdmin();
            await GetAuthenAdminOperation();
            await GetAuthenAdminLeave();
            await GetAuthenSale();
            await GetAuthenManager();
        });
        async function GetUsers() {
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetUsers", "Authen")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { },
                success: function (response) {
                    users = response;
                }
            });
        }
        function GenerateUserOptions() {
            var user_str = '<option value="" selected disabled>Please Select User to Add</option>';
            for (var i = 0; i < users.length; i++) {
               user_str += '<option value="' + users[i].emp_id + '">' + users[i].user_name + '</option>';
            }
            $('#user_name').empty();
            $('#user_name').append(user_str);
        };
        $('#btnAdd').on('click', async function () {
            await GetUsers();
            await GenerateUserOptions();

            $('#btn_add').attr('disabled', true);
            $('#modal_user').modal();
        });

        $('#user_name').on('change', function () {
            var user = users.filter(f => f.user_name === $('#user_name :selected').text());
            $('#department').val(user[0].department);
            $('#level').val(1);
            $('#btn_add').attr('disabled', false);
        });

        $('#btn_add').on('click', function () {
            var emp_id = $('#user_name').val();
            var user_name = $('#user_name :selected').text();
            var department = $('#department').val();
            var level = $('#level').val();
            var user_string = JSON.stringify({
                "emp_id": emp_id,
                "name": user_name,
                "department": department,
                "role" : "User",
                "levels":level
            });
            CreateAuthen(user_string);

        });

        async function CreateAuthen(user_string) {
            await $.ajax({
                type: "POST",
                url: '@Url.Action("CreateAuthen", "Authen")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { user_string },
                success: function (response) {
                    if (response === "Success")
                        location.reload();
                    else
                        alert(response);
                }
            });
        }
        async function GetAuthenUsers() {
            var _users = [];
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetAuthenUsers", "Authen")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { },
                success: function (response) {
                    _users = response;
                    GenerateTableUser(_users);
                }
            });
        }

        function GenerateTableUser(users) {
            var datas = [];

            if (table_user !== undefined)
                table_user.DataTable().destroy();

            for (var i = 0; i < users.length; i++) {
                datas.push([
                    users[i].emp_id,
                    users[i].name,
                    users[i].department,
                    users[i].levels,
                ]);
            }

            table_user = $('#table_user').DataTable({
                lengthMenu: [[25, 50, 100, -1], [25, 50, 100, "All"]],
                data: datas,
                columnDefs: [
                    {
                        targets: [0, 1, 2],
                        className: "border-left"
                    }
                ],
            });
        }

        async function GetAuthenSuperAdmin() {
            var _admin = [];
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetAuthenSuperAdmin", "Authen")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { },
                success: function (response) {
                    _admin = response;
                    GenerateTableSuperAdmin(_admin);
                }
            });
        }

        function GenerateTableSuperAdmin(admins) {
            var datas = [];

            if (table_super_admin !== undefined)
                table_super_admin.DataTable().destroy();

            for (var i = 0; i < admins.length; i++) {
                datas.push([
                    admins[i].emp_id,
                    admins[i].name,
                    admins[i].department,
                    admins[i].levels,
                ]);
            }

            table_super_admin = $('#table_super_admin').DataTable({
                lengthMenu: [[25, 50, 100, -1], [25, 50, 100, "All"]],
                data: datas,
                columnDefs: [
                    {
                        targets: [0, 1, 2],
                        className: "border-left"
                    }
                ],
            });
        }
        async function GetAuthenAdminOperation() {
            var _admin = [];
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetAuthenAdminOperation", "Authen")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { },
                success: function (response) {
                    _admin = response;
                    GenerateTableAdminOperation(_admin);
                }
            });
        }

        function GenerateTableAdminOperation(admins) {
            var datas = [];

            if (table_admin_operation !== undefined)
                table_admin_operation.DataTable().destroy();

            for (var i = 0; i < admins.length; i++) {
                datas.push([
                    admins[i].emp_id,
                    admins[i].name,
                    admins[i].department,
                    admins[i].levels,
                ]);
            }

            table_admin_operation = $('#table_admin_operation').DataTable({
                lengthMenu: [[25, 50, 100, -1], [25, 50, 100, "All"]],
                data: datas,
                columnDefs: [
                    {
                        targets: [0, 1, 2],
                        className: "border-left"
                    }
                ],
            });
        }

        async function GetAuthenAdminLeave() {
            var _admin = [];
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetAuthenAdminLeave", "Authen")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { },
                success: function (response) {
                    _admin = response;
                    GenerateTableAdminLeave(_admin);
                }
            });
        }

        function GenerateTableAdminLeave(admins) {
            var datas = [];

            if (table_admin_leave !== undefined)
                table_admin_leave.DataTable().destroy();

            for (var i = 0; i < admins.length; i++) {
                datas.push([
                    admins[i].emp_id,
                    admins[i].name,
                    admins[i].department,
                    admins[i].levels,
                ]);
            }

            table_admin_leave = $('#table_admin_leave').DataTable({
                lengthMenu: [[25, 50, 100, -1], [25, 50, 100, "All"]],
                data: datas,
                columnDefs: [
                    {
                        targets: [0, 1, 2],
                        className: "border-left"
                    }
                ],
            });
        }
        async function GetAuthenSale() {
            var _sale = [];
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetAuthenSale", "Authen")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { },
                success: function (response) {
                    _sale = response;
                    GenerateTableSale(_sale);
                }
            });
        }

        function GenerateTableSale(sales) {
            var datas = [];

            if (table_sale !== undefined)
                table_sale.DataTable().destroy();

            for (var i = 0; i < sales.length; i++) {
                datas.push([
                    sales[i].emp_id,
                    sales[i].name,
                    sales[i].department,
                    sales[i].levels,
                ]);
            }

            table_sale = $('#table_sale').DataTable({
                lengthMenu: [[25, 50, 100, -1], [25, 50, 100, "All"]],
                data: datas,
                columnDefs: [
                    {
                        targets: [0, 1, 2],
                        className: "border-left"
                    }
                ],
            });
        }

        async function GetAuthenManager() {
            var _manager = [];
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetAuthenManager", "Authen")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { },
                success: function (response) {
                    _manager = response;
                    GenerateTableManager(_manager);
                }
            });
        }

        function GenerateTableManager(managers) {
            var datas = [];

            if (table_manager !== undefined)
                table_manager.DataTable().destroy();

            for (var i = 0; i < managers.length; i++) {
                datas.push([
                    managers[i].emp_id,
                    managers[i].name,
                    managers[i].department,
                    managers[i].levels,
                ]);
            }

            table_manager = $('#table_manager').DataTable({
                lengthMenu: [[25, 50, 100, -1], [25, 50, 100, "All"]],
                data: datas,
                columnDefs: [
                    {
                        targets: [0, 1, 2],
                        className: "border-left"
                    }
                ],
            });
        }

        function ShowModal(data) {
            if (toUser === false) {
                $('#btnToUser').hide();
                $('#btnToSuperAdmin').show();
                $('#btnToAdminOperation').show();
                $('#btnToAdminLeave').show();
                $('#btnToSale').show();
                $('#btnToManager').show();
            }
            if (toSuperAdmin === false) {
                $('#btnToUser').show();
                $('#btnToSuperAdmin').hide();
                $('#btnToAdminOperation').show();
                $('#btnToAdminLeave').show();
                $('#btnToSale').show();
                $('#btnToManager').show();
            }
            if (toAdminOperation === false) {
                $('#btnToUser').show();
                $('#btnToSuperAdmin').show();
                $('#btnToAdminOperation').hide();
                $('#btnToAdminLeave').show();
                $('#btnToSale').show();
                $('#btnToManager').show();
            }
            if (toAdminLeave === false) {
                $('#btnToUser').show();
                $('#btnToSuperAdmin').show();
                $('#btnToAdminOperation').show();
                $('#btnToAdminLeave').hide();
                $('#btnToSale').show();
                $('#btnToManager').show();
            }
            if (toSale === false) {
                $('#btnToUser').show();
                $('#btnToSuperAdmin').show();
                $('#btnToAdminOperation').show();
                $('#btnToAdminLeave').show();
                $('#btnToSale').hide();
                $('#btnToManager').show();
            }

            if (toManager === false) {
                $('#btnToUser').show();
                $('#btnToSuperAdmin').show();
                $('#btnToAdminOperation').show();
                $('#btnToAdminLeave').show();
                $('#btnToSale').show();
                $('#btnToManager').hide();
            }
            $('#EmpID').val(data[0]);
            $('#UserName').val(data[1]);
            $('#Department').val(data[2]);
            $('#Level').val(data[3]);
            $('#modalAuthen').modal();
        }

        $('#table_user tbody').on('click', 'tr', function () {
            toUser = false;
            toSuperAdmin = true;
            toAdminOperation = true;
            toAdminLeave = true;
            toSale = true;
            toManager = true;

            let data = table_user.row(this).data();
            ShowModal(data);
        });
        $('#table_super_admin tbody').on('click', 'tr', function () {
            toUser = true;
             toSuperAdmin = false;
             toAdminOperation = true;
             toAdminLeave = true;
            toSale = true;
            toManager = true;

            let data = table_super_admin.row(this).data();
            ShowModal(data);
        });
        $('#table_admin_operation tbody').on('click', 'tr', function () {
            toUser = true;
            toSuperAdmin = true;
            toAdminOperation = false;
            toAdminLeave = true;
            toSale = true;
            toManager = true;

            let data = table_admin_operation.row(this).data();
            ShowModal(data);
        });

        $('#table_admin_leave tbody').on('click', 'tr', function () {
            toUser = true;
            toSuperAdmin = true;
            toAdminOperation = true;
            toAdminLeave = false;
            toSale = true;
            toManager = true;

            let data = table_admin_leave.row(this).data();
            ShowModal(data);
        });
         $('#table_sale tbody').on('click', 'tr', function () {
            toUser = true;
             toSuperAdmin = true;
             toAdminOperation = true;
             toAdminLeave = true;
            toSale = false;
            toManager = true;

            let data = table_sale.row(this).data();
            ShowModal(data);
        });
        $('#table_manager tbody').on('click', 'tr', function () {
            toUser = true;
            toSuperAdmin = true;
            toAdminOperation = true;
            toAdminLeave = true;
            toSale = true;
            toManager = false;

            let data = table_manager.row(this).data();
            ShowModal(data);
        });

        $('#btnUpdateLevel').on('click', async function () {
            var emp_id = document.getElementById("EmpID").value;
            var name = document.getElementById("UserName").value;
            var department = document.getElementById("Department").value;
            var level = document.getElementById("Level").value;
            var user_string = JSON.stringify({
                "emp_id": emp_id,
                "name": name,
                "department": department,
                "role" : "",
                "levels":level
            });
            await $.ajax({
                type: "PUT",
                url: '@Url.Action("UpdateLevel", "Authen")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { user_string },
                success: function (response) {
                    if (response === "Success")
                        location.reload();
                    else
                        alert(response);
                }
            });

        });
        $('#btnToUser').on('click', async function () {
            var emp_id = document.getElementById("EmpID").value;
            var name = document.getElementById("UserName").value;
            var department = document.getElementById("Department").value;
            var level = document.getElementById("Level").value;
            var user_string = JSON.stringify({
                "emp_id": emp_id,
                "name": name,
                "department": department,
                "role" : "User",
                "levels":level
            });
            await $.ajax({
                type: "PUT",
                url: '@Url.Action("UpdateRole", "Authen")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { user_string },
                success: function (response) {
                    if (response === "Success")
                        location.reload();
                    else
                        alert(response);
                }
            });
        });

        $('#btnToSuperAdmin').on('click', async function () {
            var emp_id = document.getElementById("EmpID").value;
            var name = document.getElementById("UserName").value;
            var department = document.getElementById("Department").value;
            var level = document.getElementById("Level").value;
            var user_string = JSON.stringify({
                "emp_id": emp_id,
                "name": name,
                "department": department,
                "role" : "Admin",
                "levels":level
            });
            await $.ajax({
                type: "PUT",
                url: '@Url.Action("UpdateRole", "Authen")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { user_string },
                success: function (response) {
                    if (response === "Success")
                        location.reload();
                    else
                        alert(response);
                }
            });
        });
        $('#btnToAdminOperation').on('click', async function () {
            var emp_id = document.getElementById("EmpID").value;
            var name = document.getElementById("UserName").value;
            var department = document.getElementById("Department").value;
            var level = document.getElementById("Level").value;
            var user_string = JSON.stringify({
                "emp_id": emp_id,
                "name": name,
                "department": department,
                "role" : "Admin_Operation",
                "levels":level
            });
            await $.ajax({
                type: "PUT",
                url: '@Url.Action("UpdateRole", "Authen")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { user_string },
                success: function (response) {
                    if (response === "Success")
                        location.reload();
                    else
                        alert(response);
                }
            });
        });
        $('#btnToAdminLeave').on('click', async function () {
            var emp_id = document.getElementById("EmpID").value;
            var name = document.getElementById("UserName").value;
            var department = document.getElementById("Department").value;
            var level = document.getElementById("Level").value;
            var user_string = JSON.stringify({
                "emp_id": emp_id,
                "name": name,
                "department": department,
                "role" : "Admin_Leave",
                "levels":level
            });
            await $.ajax({
                type: "PUT",
                url: '@Url.Action("UpdateRole", "Authen")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { user_string },
                success: function (response) {
                    if (response === "Success")
                        location.reload();
                    else
                        alert(response);
                }
            });
        });

        $('#btnToSale').on('click', async function () {
            var emp_id = document.getElementById("EmpID").value;
            var name = document.getElementById("UserName").value;
            var department = document.getElementById("Department").value;
            var level = document.getElementById("Level").value;
            var user_string = JSON.stringify({
                "emp_id": emp_id,
                "name": name,
                "department": department,
                "role" : "Sale",
                "levels":level
            });
            await $.ajax({
                type: "PUT",
                url: '@Url.Action("UpdateRole", "Authen")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { user_string },
                success: function (response) {
                    if (response === "Success")
                        location.reload();
                    else
                        alert(response);
                }
            });
        });

        $('#btnToManager').on('click', async function () {
            var emp_id = document.getElementById("EmpID").value;
            var name = document.getElementById("UserName").value;
            var department = document.getElementById("Department").value;
            var level = document.getElementById("Level").value;
            var user_string = JSON.stringify({
                "emp_id": emp_id,
                "name": name,
                "department": department,
                "role" : department,
                "levels":level
            });
            await $.ajax({
                type: "PUT",
                url: '@Url.Action("UpdateRole", "Authen")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { user_string },
                success: function (response) {
                    if (response === "Success")
                        location.reload();
                    else
                        alert(response);
                }
            });
        });
    </script>
}