@using Microsoft.AspNetCore.Http
@model WebENG.Models.UserModel;
@{
    ViewData["Title"] = "Jobs";
}
<div class="row p-3">
    @if (Model.role == "Admin")
    {
        <div class="col-xl-1 pb-3">
            <button id="btn_create" type="button" class="btn btn-primary form-control elevation-1">
                <i class="fas fa-plus"></i> Create Job
            </button>
        </div>
    }
    <div class="col-xl-1 pb-3">
        <button id="btn_import" type="button" class="btn btn-primary form-control elevation-1" hidden>
            <i class="fas fa-upload"></i> Import
        </button>
    </div>
    <div class="col-xl-1 pb-3">
        <button id="btn_export" type="button" class="btn btn-primary form-control elevation-1" hidden>
            <i class="fas fa-download"></i> Export
        </button>
    </div>
    <div class="col-xl-12">
        <div class="card card-dark">
            <div class="card-header">
                <span class="card-title">Jobs</span>
            </div>
            <div class="card-body">
                <table id="table_job" class="table table-sm table-bordered table-hover text-center table-striped nowrap w-100">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Quotation</th>
                            <th>Customer</th>
                            <th>End User</th>
                            <th>Sale Name</th>
                            <th>Department</th>
                            <th>Process</th>
                            <th>System</th>
                            <th>Cost</th>
                            <th>MD</th>
                            <th>PD</th>
                            <th>FT</th>
                            <th>MP</th>
                            <th>Cost/MP</th>
                            <th>OT MP</th>
                            <th>Status</th>
                            <th>C SAT.</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot class="text-center">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Quotation</th>
                            <th>Customer</th>
                            <th>End User</th>
                            <th>Sale Name</th>
                            <th>Department</th>
                            <th>Process</th>
                            <th>System</th>
                            <th>Cost</th>
                            <th>MD</th>
                            <th>PD</th>
                            <th>FT</th>
                            <th>MP</th>
                            <th>Cost/MP</th>
                            <th>OT MP</th>
                            <th>Status</th>
                            <th>C SAT.</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_job" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" style="overflow-y:auto">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modal_title" class="modal-title"><b>Create Job</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="col-4">
                            <label for="job_id">Job Number</label>
                            <input id="job_id" type="text" class="form-control" placeholder="JYYXXXX" />
                        </div>
                        <div class="col-8">
                            <label for="job_name">Job Name</label>
                            <input id="job_name" type="text" class="form-control" placeholder="Job Name" />
                        </div>
                    </div>                   
                    <div class="form-row">
                        <div class="col-3">
                            <label for="quotation_no">Quotation Number</label>
                            <input id="quotation_no" type="text" class="form-control" placeholder="Quotation Number" list="quotations" />
                            <datalist id="quotations"></datalist>
                        </div>
                        <div class="col-3">
                            <label for="cost">Cost</label>
                            <div class="input-group">
                                <input id="cost" type="number" class="form-control" placeholder="0" value="0" />
                                <div class="input-group-append">
                                    <span class="input-group-text">THB</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <label for="md_rate">Market Develop</label>
                            <div class="input-group">
                                <input id="md_rate" type="number" class="form-control" placeholder="#.#" value="1.0" step="0.1" min="0" max="10" />
                                <div class="input-group-append">
                                    <span class="input-group-text">X</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group ">
                                <label for="pd_rate">Product Develop</label>
                                <div class="input-group">
                                    <input id="pd_rate" type="number" class="form-control" placeholder="#.#" value="1.0" step="0.1" min="0" max="10" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">X</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-6">
                            <div class="card">
                                <div class="card-header" style="background-color:#42D5D8">
                                    <span style="font-weight:bold;">Process</span>
                                </div>
                                <div class="card-body">
                                    <ul id="process" style="width:100%;height:250px;overflow-y:auto" class="list-group">
                                    </ul> 
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card">
                                <div class="card-header" style="background-color:#42D5D8">
                                    <span style="font-weight:bold">System</span>
                                </div>
                                <div class="card-body">
                                    <ul id="system" style="width:100%;height:250px;overflow-y:auto" class="list-group">
                                    </ul> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header" style="background-color:#42D5D8">
                                    <span style="font-weight:bold">Term Payment</span>
                                </div>
                                <div class="card-body">
                                    <div class="form-row">
                                         <div class="col-5">
                                            <label for="select_payment">Term Payment</label>
                                            <select id="select_payment" class="form-control">
                                            </select>
                                        </div>
                                        <div class="col-2 col-md-2">
                                            <label for="add_payment">Add</label>
                                            <button id="add_payment" type="button" class="btn btn-primary form-control elevation-1" disabled>
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-row pt-1">
                                        <div class="col-12">
                                            <table id="table_payment" class="table table-sm table-bordered table-hover text-center table-striped nowrap w-100">
                                                <thead style="background-color:#42B4D8">
                                                    <tr>
                                                        <th>Milestone</th>
                                                        <th>%</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>                                           
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                       
                    </div>
                    <div class="form-row">
                        <div class="col-4">
                            <label for="cost">Job In Hand</label>
                            <div class="input-group">
                                <input id="job_in_hand" type="number" class="form-control" placeholder="0" value="0" />
                                <div class="input-group-append">
                                    <span class="input-group-text">THB</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <label for="cost">Invoice</label>
                            <div class="input-group">
                                <input id="invoice" type="number" class="form-control" placeholder="0" value="0" />
                                <div class="input-group-append">
                                    <span class="input-group-text">THB</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <label for="due_date">Due Date</label>
                            <input id="due_date"type="date"  class="form-control" value="1900-01-01" />
                        </div>
                    </div>
                    <div class="form-row">                       
                        <div class="col-5">
                            <label for="status">Status</label>
                            <select id="status" class="form-control">
                            </select>
                        </div>
                        <div class="col-4" id="group_finished_date">
                            <label for="finished_date">Date Finished</label>
                            <input id="finished_date"type="date"  class="form-control" value="1900-01-01" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btn_save" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_edit_payment" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modal_title" class="modal-title"><b>Edit Term Payment</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="col-8">
                            <label for="edit_payment_name">Term Payment</label>
                            <input id="edit_payment_name" type="text" class="form-control" placeholder="" disabled/>
                        </div>
                        <div class="col-4">
                            <label for="edit_percent">Percent</label>
                            <input id="edit_percent" type="number" class="form-control" placeholder="" />
                        </div>
                    </div>                                       
                </form>
            </div>
            <div class="modal-footer">
                <button id="btn_payment_delete" type="button" class="btn btn-danger mr-auto elevation-1">
                    <i class="fas fa-trash-alt"></i> Delete
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btn_payment_save" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        //Variable Declaration
        let table;
        let table_payment;
        let update = false;
        let jobs = [];
        let users = [];
        let quots = [];
        let statuses = [];
        let processes = [];
        let systems = [];
        let list_process = [];
        let list_system = [];
        let str_process = "";
        let str_system = "";
        let payments = [];
        //Change these parameters to true to show result
        let debug_jobs = false;
        let debug_user = false;
        let debug_job_string = false;
        let debug_quots = false;

        $(document).ready(async function () {
            await GetStatus();
            await GenerateStatusOption();
            await GeneratePaymentOption();
            await GetProcess();
            await GetSystem();
            GetJobs();
        });

        async function GetJobs() {
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetJobs", "Job")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { },
                success: function (response) {
                    jobs = response;
                    if (debug_jobs) {
                        console.log(jobs);
                    }
                    GenerateTable(jobs);
                }
            });
        };

        async function GetUsers() {
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetUsers", "EngUser")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { },
                success: function (response) {
                    users = response;
                    if (debug_user) {
                        console.log(users);
                    }
                }
            });
        }

        async function GetQuotations() {
            let today = new Date();
            let year = today.getFullYear().toString().substring(2, 4);
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetQuotations", "Job")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { year },
                success: function (response) {
                    quots = response;
                    if (debug_quots) {
                        console.log(quots);
                    }
                }
            });
        }

        async function GetProcess() {
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetProcesses", "EngProcess")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { },
                success: function (response) {
                    processes = response;                   
                }
            });
        }
        async function GetSystem() {
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetSystems", "EngSystem")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { },
                success: function (response) {
                    systems = response;                   
                }
            });
        }

        @*function GenerateProcessOption() {
            let process = $('#process').val();
            $('#process').empty();
            $('#process').append(`<option value="" selected disabled>Please Select Process</option>`);
            for (let i = 0; i < processes.length; i++) {
                if (processes[i].process_name === process || process === "" || process === null) {
                    $('#process').append(`<option value="${processes[i].process_id}">${processes[i].process_id}: ${processes[i].process_name}</option>`);
                }
            }
        }*@

        @*function GenerateSystemOption() {
            let system = $('#system').val();
            $('#system').empty();
            $('#system').append(`<option value="" selected disabled>Please Select System</option>`);
            for (let i = 0; i < systems.length; i++) {
                if (systems[i].system_name === system || system === "" || system === null) {
                    $('#system').append(`<option value="${systems[i].system_id}">${systems[i].system_id}: ${systems[i].system_name}</option>`);
                }
            }
        }*@

        async function GetStatus() {
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetStatus", "Job")',
	            contentType: 'application/x-www-form-urlencoded',
                data: {  },
                success: function (response) {
                    statuses = response;
                }
            });
        };
        function GenerateTable(jobs) {
            let datas = [];
            if (table !== null)
                $('#table_job').DataTable().destroy();

            for (let i = 0; i < jobs.length; i++) {
                
                let countProcess = (jobs[i].process.match(/,/g) || []).length;
                let countSystem = (jobs[i].system.match(/,/g) || []).length;
             
                let process = "";
                let system = "";

                for (let k=0;k<=countProcess;k++ ){
                    if (k < countProcess){
                        process += processes.filter(f=> f.process_id === jobs[i].process.split(',')[k]).map(m=> m.process_name) + ",";
                    }else{
                        process += processes.filter(f=> f.process_id === jobs[i].process.split(',')[k]).map(m=> m.process_name);
                    }
                }

                for (let k=0;k<=countSystem;k++ ){
                    if (k < countSystem){
                        system += systems.filter(f=> f.system_id === jobs[i].system.split(',')[k]).map(m=> m.system_name) + ",";
                    }else{
                        system += systems.filter(f=> f.system_id === jobs[i].system.split(',')[k]).map(m=> m.system_name);
                    }
                }
                datas.push([
                    jobs[i].job_id,
                    jobs[i].job_name,
                    jobs[i].quotation_no,
                    jobs[i].customer,
                    jobs[i].enduser,
                    jobs[i].sale_name,
                    jobs[i].department,
                    process,
                    system,
                    jobs[i].cost.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                    jobs[i].md_rate,
                    jobs[i].pd_rate,
                    jobs[i].md_rate * jobs[i].pd_rate, //Factor
                    jobs[i].manpower,
                    jobs[i].cost_per_manpower,
                    jobs[i].ot_manpower,
                    jobs[i].status,
                    "" //Customer Satisfaction
                ]);
            }

            table = $('#table_job').DataTable({
                data: datas,
                lengthMenu: [[25, 50, 100, -1], [25, 50, 100, "All"]],
                fixedHeader: true,
                fixedColumns: {
                    left: 2
                },
                columnDefs: [
                    {
                        targets: [4, 5, 6, 10, 11, 13, 14, 15],
                        visible: false
                    },
                ],
                rowCallback: function (row, data) {
                    $('td:eq(1)', row).addClass("text-left");
                    $('td:eq(3)', row).addClass("text-left");
                    let code_status = data[16];
                    let status = statuses.filter(f=>f.status_id === code_status).map(m=>m.status_name);
                    let status_str =  '';
                    if (code_status === "STA999"){
                        status_str = `<span class="badge badge-success">${status}</span>`;
                    }else{
                        status_str = `<span class="badge badge-warning">${status}</span>`;
                    }
                                       
                    $('td:eq(8)', row).html(status_str);
                }
            });
        };

        function GenerateTablePayment(payments) {
            let datas = [];
            if (table_payment !== null)
                $('#table_payment').DataTable().destroy();

            for (let i = 0; i < payments.length; i++) {
                
                let payment = payments[i].payment_name;
                let percent = payments[i].percent;
             
                datas.push([
                    payment,
                    percent
                ]);
            }

            table_payment = $('#table_payment').DataTable({
                data: datas,
                lengthMenu: [[25, 50, 100, -1], [25, 50, 100, "All"]],
                fixedHeader: true,
                fixedColumns: {
                    left: 2
                },
                columnDefs: [
                    {
                        
                    },
                ],
                rowCallback: function (row, data) {
                    
                },
                searching: false,
                ordering: false,
                paging: false,
                info : false
            });
        };

        function GenerateStatusOption() {
            let status = $('#status').val();
            $('#status').empty();
            $('#status').append(`<option value="" selected disabled>Please Select Status</option>`);
            for (let i = 0; i < statuses.length; i++) {
                if (statuses[i].status_name === status || status === "" || status === null) {
                    $('#status').append(`<option value="${statuses[i].status_id}">${statuses[i].status_id}: ${statuses[i].status_name}</option>`);
                }
            }
        }
        function GeneratePaymentOption() {
            let payment = $('#select_payment').val();
            $('#select_payment').empty();
            $('#select_payment').append(`<option value="" selected disabled>Please Select Term Payment</option>`);
            for (let i = 0; i < statuses.length; i++) {
                if (statuses[i].status_name === status || status === "" || status === null) {
                    if (statuses[i].status_id !== "STA999"){
                        $('#select_payment').append(`<option value="${statuses[i].status_id}">${statuses[i].status_name}</option>`);
                    }
                }
            }
        }
        function GenerateQuotationOptions() {
            let quots_str = '';
            for (let i = 0; i < quots.length; i++) {
                quots_str += `<option value="${quots[i].quotation_no}">${quots[i].quotation_no} - ${quots[i].customer}</option>`;
            }
            $('#quotations').empty();
            $('#quotations').append(quots_str);
        }

        $('#btn_create').on('click', async function () {   
            GenerateProcess(processes);
            GenerateSystem(systems);
            await GetQuotations();
            await GenerateQuotationOptions();  
            Prepmodal();
        });

        function Prepmodal() {
            $('#job_id').attr('disabled', false);
            update = false;
            $('#modal_job').modal();
            $('#modal_title').text("Create Job");
            $('#job_id').val(null);
            $('#job_name').val(null);
            $('#quotation_no').val(null);
            $('#cost').val(0);
            $('#md').val(1);
            $('#pd').val(1);
            $('#status').val(1);

            $('#group_finished_date').hide();
        };

        $('#table_job tbody').on('click', 'tr', async function () {
            let admin = '@Model.role' == "Admin" ? true : false;
            if (admin) {
                await GetQuotations();
                await GenerateQuotationOptions();
                await EditJob(table.row(this).data());
            }
        });

        function EditJob(data) {
            payments = [];

            update = true;
            $('#modal_job').modal();
            $('#modal_title').text("Edit Job");

            let job_id = data[0];
            let job_name = data[1];
            let quotation_no = data[2];
            let process = [];
            let countProcess = (data[7].match(/,/g) || []).length;
            for (let k=0;k<=countProcess;k++){
                let _process = processes.filter(f=>f.process_name === data[7].split(',')[k]).map(m=>m.process_id);
                process.push(_process);
            }

            let job = jobs.filter(f=>f.job_id == job_id).map(m=>m)[0];
            let system = []
            let countSystem = (data[8].match(/,/g) || []).length;
            for (let k=0;k<=countSystem;k++){
                let _system = systems.filter(f=>f.system_name === data[8].split(',')[k]).map(m=>m.system_id);
                system.push(_system);
            }
            
            let cost = data[9].replaceAll(",","");
            let md = data[10];
            let pd = data[11];
            let status = data[16];
            let finished_date = jobs.filter(f=>f.job_id === job_id).map(m=>m.finished_date)[0];

            
            

            $('#job_id').val(job_id);
            $('#job_id').attr('disabled', true);
            $('#job_name').val(job_name);
            $('#quotation_no').val(quotation_no);
            $('#cost').val(cost);
            $('#md').val(md);
            $('#pd').val(pd);
            $('#status').val(status);
            $('#job_in_hand').val(job.job_in_hand);
            $('#invoice').val(job.invoice);
            $('#due_date').val(job.due_date.split('T')[0]);

            $('#finished_date').val(finished_date.split('T')[0]);

            let finish_status = statuses.filter(f=>f.status_id === status).map(m=> m.status_name);
            if (finish_status[0] === "Finished"){
                $('#group_finished_date').show();
            }else{
                $('#group_finished_date').hide();
            }

            GenerateProcessEdit(process,processes);
            GenerateSystemEdit(system,systems);

            processString(process);
            systemString(system);


            payments.push({'payment_id': 'STA001' ,'payment_name': 'Down Payment/KOM', 'percent': job.down_payment});
            payments.push({'payment_id': 'STA002' ,'payment_name': 'Document Submit', 'percent': job.document_submit});
            payments.push({'payment_id': 'STA003' ,'payment_name': 'Instrument Delivered @@ CTL', 'percent': job.instrument_delivered_ctl});
            payments.push({'payment_id': 'STA004' ,'payment_name': 'System Delivered @@ CTL', 'percent': job.system_delivered_ctl});
            payments.push({'payment_id': 'STA005' ,'payment_name': 'FAT', 'percent': job.fat});
            payments.push({'payment_id': 'STA006' ,'payment_name': 'Delivery Instrument', 'percent': job.delivery_instrument});
            payments.push({'payment_id': 'STA007' ,'payment_name': 'Delivery System', 'percent': job.delivery_system});
            payments.push({'payment_id': 'STA008' ,'payment_name': 'Progress Work', 'percent': job.progress_work});
            payments.push({'payment_id': 'STA009' ,'payment_name': 'Commissioning', 'percent': job.commissioning});
            payments.push({'payment_id': 'STA010' ,'payment_name': 'As-Built', 'percent': job.as_built});

            let new_payments = [];
            for (let i=0;i<payments.length;i++){
                if (payments[i].percent > 0){
                    new_payments.push(payments[i]);
                }
            }

            payments = new_payments;

            GenerateTablePayment(payments);
        }

        $('#status').on('change',function(){
            let status = $('#status').val();
            let finish_status = statuses.filter(f=>f.status_id === status).map(m=> m.status_name);
            if (finish_status[0] === "Finished"){
                $('#group_finished_date').show();
            }else{
                $('#group_finished_date').hide();
            }
        });

        $('#btn_save').on('click', function () {
            let job_id = $('#job_id').val();
            let job_name = $('#job_name').val();
            let quotation_no = $('#quotation_no').val();
            let cost = $('#cost').val();
            let md_rate = $('#md_rate').val();
            let pd_rate = $('#pd_rate').val();
            let status = $('#status').val();
            let finished_date = $('#finished_date').val();
            let job_in_hand = $('#job_in_hand').val();
            let invoice = $('#invoice').val();
            let due_date = $('#due_date').val();
            if (status === null) {
                status = 1;
            }

            let down_payment = payments.filter(f=>f.payment_id == "STA001").map(m=>m.percent)[0];
            let document_submit = payments.filter(f=>f.payment_id == "STA002").map(m=>m.percent)[0];
            let instrument_delivered_ctl = payments.filter(f=>f.payment_id == "STA003").map(m=>m.percent)[0];
            let system_delivered_ctl = payments.filter(f=>f.payment_id == "STA004").map(m=>m.percent)[0];
            let fat = payments.filter(f=>f.payment_id == "STA005").map(m=>m.percent)[0];
            let delivery_instrument = payments.filter(f=>f.payment_id == "STA006").map(m=>m.percent)[0];
            let delivery_system = payments.filter(f=>f.payment_id == "STA007").map(m=>m.percent)[0];
            let progress_work = payments.filter(f=>f.payment_id == "STA008").map(m=>m.percent)[0];
            let commissioning = payments.filter(f=>f.payment_id == "STA009").map(m=>m.percent)[0];
            let as_built = payments.filter(f=>f.payment_id == "STA010").map(m=>m.percent)[0];

            let job_string = JSON.stringify({
                "job_id": job_id,
                "job_name": job_name,
                "quotation_no": quotation_no,
                "cost": cost,
                "process":str_process,
                "system": str_system,
                "md_rate": md_rate,
                "pd_rate": pd_rate,
                "status": status,
                "down_payment":down_payment,
                "document_submit":document_submit,
                "instrument_delivered_ctl":instrument_delivered_ctl,
                "system_delivered_ctl":system_delivered_ctl,
                "fat":fat,
                "delivery_instrument":delivery_instrument,
                "delivery_system":delivery_system,
                "progress_work":progress_work,
                "commissioning":commissioning,
                "as_built":as_built,
                "job_in_hand":job_in_hand,
                "invoice":invoice,
                "due_date":due_date,
                "finished_date": finished_date
            });

            if (debug_job_string) {
                console.log(job_string);
            }

            if (update) {
                UpdateJob(job_string);
            }
            else {
                AddJob(job_string);
            }

        });

        $('#add_payment').on('click',function(){
            let _payment = $('#select_payment').val();       
            let payment = statuses.filter(f=>f.status_id === _payment ).map(m=>m.status_name)[0];
            let check_payment = payments.find(f=>f.payment_name == payment);
            if (check_payment == undefined){
                payments.push({'payment_id': _payment ,'payment_name': payment, 'percent': 0});
                GenerateTablePayment(payments);
            }
        });

        $('#select_payment').on('change',function(){
            $('#add_payment').attr('disabled',false);
        });

        $('#table_payment tbody').on('click', 'tr', async function () {
            let admin = '@Model.role' == "Admin" ? true : false;
            if (admin) {
                let data = table_payment.row(this).data();
                let payment = data[0];
                let percent = data[1];
                $('#edit_payment_name').val(payment);
                $('#edit_percent').val(percent);
                $('#modal_edit_payment').modal();
            }
        });

        $('#btn_payment_save').on('click',function(){
            let payment = $('#edit_payment_name').val();
            let payment_id = payments.filter(f=>f.payment_name == payment).map(m=>m.payment_id)[0];
            let percent = $('#edit_percent').val();

            let sum_percent = payments.filter(f=>f.payment_id !== payment_id).reduce((total, arg) => Number(total) + Number(arg.percent), 0);
            if (Number(sum_percent) + Number(percent) > 100){
                alert('percent more than 100 %');
            }else{
                let index = payments.findIndex(f=>f.payment_id == payment_id);
                payments[index].payment_id = payment_id;
                payments[index].payment_name = payment;
                payments[index].percent = percent;
                GenerateTablePayment(payments);
                $('#modal_edit_payment').modal('hide');
            }

        });

        $('#btn_payment_delete').on('click',function(){
            let payment = $('#edit_payment_name').val();
            let payment_id = payments.filter(f=>f.payment_name == payment).map(m=>m.payment_id)[0];

            let index = payments.findIndex(f=>f.payment_id == payment_id);
            payments.splice(index,1);
            GenerateTablePayment(payments);
            $('#modal_edit_payment').modal('hide');
        });

        async function AddJob(job_string) {
            await $.ajax({
                type: "POST",
                url: '@Url.Action("AddJob", "Job")',
	            contentType: 'application/x-www-form-urlencoded',
                data: {
                    job_string
                },
                success: function (response) {
                    if (response === "Success") {
                        location.reload();
                    }
                    else {
                        alert(response);
                    }
                }
            });
        };

        async function UpdateJob(job_string) {
            await $.ajax({
                type: "PATCH",
                url: '@Url.Action("UpdateJob", "Job")',
	            contentType: 'application/x-www-form-urlencoded',
                data: {
                    job_string
                },
                success: function (response) {
                    if (response === "Success") {
                        location.reload();
                    }
                    else {
                        alert(response);
                    }
                }
            });
        }

        function GenerateProcessEdit(process,processes) {
            $('#process').empty();
            if (processes.length > 0){
                $('#process').append(`
                    <li class="list-group-item">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input
                                    id="process_all" type="checkbox" class="form-check-input"
                                    onchange="ProcessChangeALL()"/><b>ALL</b>
                            </label>
                        </div>
                    </li>
                `);
            }
            for (let i = 0; i < processes.length; i++) {
                let str = "";
                if (processes[i].process_name !== ""){
                    let check = process.filter(f=>f == processes[i].process_id);
                    if (check.length > 0){                   
                        str += `<div class="col-6">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input
                                                    id="${processes[i].process_id}" type="checkbox" class="form-check-input" checked
                                                    onchange="ProcessChange()"/>${processes[i].process_name}
                                            </label>
                                        </div>
                                 </div>`
                    }else{
                        str += `<div class="col-6">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input
                                                    id="${processes[i].process_id}" type="checkbox" class="form-check-input"
                                                    onchange="ProcessChange()"/>${processes[i].process_name}
                                            </label>
                                        </div>
                                 </div>`
                    }
                    $('#process').append(`
                        <li class="list-group-item">
                            <div class="row">
                                ${str}
                            </div>
                        </li>
                    `);
                }
            }
        }


        function GenerateProcess(processes) {
            $('#process').empty();
            if (processes.length > 0){
                $('#process').append(`
                    <li class="list-group-item">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input
                                    id="process_all" type="checkbox" class="form-check-input"
                                    onchange="ProcessChangeALL()"/><b>ALL</b>
                            </label>
                        </div>
                    </li>
                `);
            }
            for (let i = 0; i < processes.length; i++) {

                let str = "";
                if (processes[i].process_name !== ""){
                    str += `<div class="col-6">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input
                                                id="${processes[i].process_id}" type="checkbox" class="form-check-input"
                                                onchange="ProcessChange()"/>${processes[i].process_name}
                                        </label>
                                    </div>
                             </div>`
                    $('#process').append(`
                        <li class="list-group-item">
                            <div class="row">
                                ${str}
                            </div>
                        </li>
                    `);
                }
            }
        }

        function GenerateSystemEdit(system,systems) {
            $('#system').empty();
            if (systems.length > 0){
                $('#system').append(`
                    <li class="list-group-item">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input
                                    id="system_all" type="checkbox" class="form-check-input"
                                    onchange="SystemChangeALL()"/><b>ALL</b>
                            </label>
                        </div>
                    </li>
                `);
            }
            for (let i = 0; i < systems.length; i++) {

                let str = "";
                if (systems[i].system_name !== ""){
                    let check = system.filter(f=>f == systems[i].system_id);
                    if (check.length > 0){
                        str += `<div class="col-6">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input
                                                    id="${systems[i].system_id}" type="checkbox" class="form-check-input" checked
                                                    onchange="SystemChange()"/>${systems[i].system_name}
                                            </label>
                                        </div>
                        </div>`
                    }else{
                        str += `<div class="col-6">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input
                                                id="${systems[i].system_id}" type="checkbox" class="form-check-input"
                                                onchange="SystemChange()"/>${systems[i].system_name}
                                        </label>
                                    </div>
                        </div>`
                    }
                    $('#system').append(`
                        <li class="list-group-item">
                            <div class="row">
                                ${str}
                            </div>
                        </li>
                    `);
                }
            }
        }

        function GenerateSystem(systems) {
            $('#system').empty();
            if (systems.length > 0){
                $('#system').append(`
                    <li class="list-group-item">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input
                                    id="system_all" type="checkbox" class="form-check-input"
                                    onchange="SystemChangeALL()"/><b>ALL</b>
                            </label>
                        </div>
                    </li>
                `);
            }
            for (let i = 0; i < systems.length; i++) {

                let str = "";
                if (systems[i].system_name !== ""){
                    str += `<div class="col-6">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input
                                                id="${systems[i].system_id}" type="checkbox" class="form-check-input"
                                                onchange="SystemChange()"/>${systems[i].system_name}
                                        </label>
                                    </div>
                             </div>`
                    $('#system').append(`
                        <li class="list-group-item">
                            <div class="row">
                                ${str}
                            </div>
                        </li>
                    `);
                }
            }
        }

        function ProcessChangeALL(){
            let ch = $('#process_all').prop('checked') === true ? true :false;
            let _process = processes.map(m => m.process_id);
            _process = [...new Set(_process)];
            list_process= new Set();
            for (let i = 0; i < _process.length; i++) {
                if (ch){
                    $('#' + _process[i]).prop("checked", true);
                    let checked = $('#' + _process[i]).prop('checked');
                    let lists = processes.filter(f => (f.process_id === _process[i]) && checked);
                    for (let i = 0; i < lists.length; i++) {
                        list_process.add(lists[i].process_id);
                    }
                }else{
                    $('#' + _process[i]).prop("checked", false);
                    let checked = $('#' + _process[i]).prop('checked');
                    let lists = processes.filter(f => (f.process_id === _process[i]) && checked);
                    for (let i = 0; i < lists.length; i++) {
                        list_process.add(lists[i].process_id);
                    }
                }
            }
            list_process = [...new Set(list_process)];

            processString(list_process);
        }

        function ProcessChange() {
            let _process = processes.map(m => m.process_id);
            _process = [...new Set(_process)];
            list_process = new Set();
            for (let i = 0; i < _process.length; i++) {
                let checked = $('#' + _process[i]).prop('checked') === true ? true : false;
                if (!checked){
                     $('#process_all').prop("checked", false);
                }
                let lists = processes.filter(f => (f.process_id === _process[i]) && checked);
                for (let i = 0; i < lists.length; i++) {
                    list_process.add(lists[i].process_id);
                }
            }
            list_process = [...new Set(list_process)];

            processString(list_process);
            
        };

        function SystemChangeALL(){
            let ch = $('#system_all').prop('checked') === true ? true :false;
            let _system = systems.map(m => m.system_id);
            _system = [...new Set(_system)];
            list_system= new Set();
            for (let i = 0; i < _system.length; i++) {
                if (ch){
                    $('#' + _system[i]).prop("checked", true);
                    let checked = $('#' + _system[i]).prop('checked');
                    let lists = systems.filter(f => (f.system_id === _system[i]) && checked);
                    for (let i = 0; i < lists.length; i++) {
                        list_system.add(lists[i].system_id);
                    }
                }else{
                    $('#' + _system[i]).prop("checked", false);
                    let checked = $('#' + _system[i]).prop('checked');
                    let lists = systems.filter(f => (f.system_id === _system[i]) && checked);
                    for (let i = 0; i < lists.length; i++) {
                        listsystem.add(lists[i].system_id);
                    }
                }
            }
            list_system = [...new Set(list_system)];

            systemString(list_system);
        }

        function SystemChange() {
            let _system = systems.map(m => m.system_id);
            _system = [...new Set(_system)];
            list_system = new Set();
            for (let i = 0; i < _system.length; i++) {
                let checked = $('#' + _system[i]).prop('checked') === true ? true : false;
                if (!checked){
                     $('#system_all').prop("checked", false);
                }
                let lists = systems.filter(f => (f.system_id === _system[i]) && checked);
                for (let i = 0; i < lists.length; i++) {
                    list_system.add(lists[i].system_id);
                }
            }
            list_system = [...new Set(list_system)];

            systemString(list_system);
            
        };
        function systemList (){
            let _system = systems.map(m => m.system_id);
            _system = [...new Set(_system)];
            list_system= new Set();
            for (let i = 0; i < _system.length; i++) {
                    let lists = systems.filter(f => (f.system_id === _system[i]));
                    for (let i = 0; i < lists.length; i++) {
                        list_system.add(lists[i].system_id);
                   }
            }
            list_system = [...new Set(list_system)];

            systemString(list_system);
        }

        function processList(){
            let _process = processes.map(m => m.process_id);
            _process = [...new Set(_process)];
            list_process= new Set();
            for (let i = 0; i < _process.length; i++) {
                    let lists = processes.filter(f => (f.process_id === _process[i]));
                    for (let i = 0; i < lists.length; i++) {
                        list_process.add(lists[i].process_id);
                    }
            }
            list_process = [...new Set(list_process)];
            processString(list_process);
        }
        function processString(list_process){
            str_process = "";
            for(let k=0 ;k<list_process.length;k++){
                if (k === list_process.length - 1){
                    str_process += list_process[k];
                }else{
                    str_process += list_process[k] + ",";
                }               
            }
        }

        function systemString(list_system){
            str_system = "";
            for(let k=0 ;k<list_system.length;k++){
                if (k === list_system.length - 1){
                    str_system += list_system[k];
                }else{
                    str_system += list_system[k] + ",";
                }               
            }
        }
    </script>
}